* {
    margin: 0;
    padding: 0;
    font-family: Lobster, cursive;

}

body {
    background: #009ace;

}

.header h1 {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px grey;
    font-size: 50px;

}

.work_items_wrapper {

    margin: 60px auto;
    text-align: center;
    border-bottom: 2px solid #2689b3;
    padding-bottom: 40px;
    max-width: 990px;
    min-width: 300px;

}

.work_items {
    display: inline-block;
    margin: 10px;
    width: 300px;

}

.work_items a {
    color: #fff7f4;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 2px 2px black;
}

.work_items a:hover {
    color: #ff3a3c;
    text-shadow: none;
}

img {
    box-shadow: 3px 3px 2px #235475;
    margin-top: 20px;
    height: 142px;
    width: 295px;
    /*display: block;*/

}

img:hover {
    opacity: 0.8;
    box-shadow: none;
}

.contacts {
    text-align: center;
    font-size: 23px;
    text-shadow: 2px 2px 2px grey;
    background: linear-gradient(to bottom, #e8e115, #d75a34);
    width: 270px;
    height: 110px;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 5px #3489bb;

}

.contacts h4 {
    margin-bottom: 5px;
    padding-top: 30px;
    color: black;
    border-radius: 5px;

}

.contacts a {
    text-shadow: none;
    color: #1778ee;

}

.contacts a:hover {
    color: red;
}

.footer {

    text-align: center;
    color: white;
    padding: 10px 0;
    margin-top: 50px;
    border-top: 2px solid #2689b3;

}

.footer h4 {

    font-size: 16px;
    font-family: Arial, sans-serif;

}


@media screen and (max-width: 479px){

    .work_items_wrapper{
        max-width: 400px;
    }
    .header h1{
        font-size: 30px;
    }
    .header span:after{
        content: '';
        display: block;
    }

}