* {
    margin: 0;
    padding: 0;

    font-family: Lobster, cursive;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background: linear-gradient(to top, #000e35 0, #220e85 52%, #4801aa 100%);
}

.header h1 {
    margin-top: 20px;

    text-align: center;

    color: #ffffff;
    text-shadow: 2px 2px grey;

    font-size: 50px;
}

main {
    flex: 1;
}

.work_items_wrapper {
    min-width: 300px;
    max-width: 990px;
    margin: 60px auto;
    padding-bottom: 40px;

    text-align: center;

    border-bottom: 2px solid #161f4e;
}

.work_items {
    display: inline-block;

    width: 300px;
    margin: 10px;
}

.work_items a {
    transition: 0.5s ease-out;
    text-decoration: none;

    color: #fff7f4;
    text-shadow: 2px 2px black;

    font-size: 25px;
}

.work_items a:hover {
    color: #ff3a3c;
    text-shadow: none;
}

img {
    width: 295px;
    height: 142px;
    margin-top: 20px;

    transition: all 0.5s ease-out;

    box-shadow: 3px 3px 5px #161f4e;
}

img:hover {
    opacity: 0.6;
    box-shadow: none;
}

.contacts {
    width: 280px;
    height: 110px;
    margin: 0 auto;
    padding-bottom: 10px;

    text-align: center;

    border-radius: 5px;
    background: linear-gradient(to bottom, #e8e115, #d75a34);
    box-shadow: 0 0 10px 5px #161f4e;
    text-shadow: 2px 2px 2px grey;

    font-size: 23px;
}

.contacts h4 {
    margin-bottom: 5px;
    padding-top: 25px;

    color: #f3f3f3;
    border-radius: 5px;
}

.contacts a {
    transition: font-size 0.5s ease;

    color: #000000;
    text-shadow: none;
}

.contacts a:hover {
    font-size: 1.07em;
}

.footer {
    margin-top: 80px;
    padding: 20px 0;

    text-align: center;

    color: white;
    border-top: 2px solid #161f4e;
}

.footer h4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 479px) {
    .work_items_wrapper {
        max-width: 400px;
    }

    .header h1 {
        font-size: 30px;
    }

    .header span:after {
        display: block;

        content: '';
    }
}
