* {
    margin: 0;
    padding: 0;
    font-family: Algerian, serif;

}

.start__back {
    width: 792px;
    height: 600px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-image: url("../images/startBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.credits{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px 5px 0;
    color: white;

}

.credits a{
    text-decoration: none;
    color: #fff95e;

}

.credits a:hover{
    color: #000000;
}

.black__back {
    background: black;
    height: 100%;
    visibility: hidden;

}

.logo {
    height: 110px;
    width: auto;
    margin: 60px 0 0 0;
    visibility: visible;

}

.main__back {
    height: 402px;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

}

.start__btn {
    color: #2e2e2e;
    top: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 36px;
    text-shadow: 0 2px 2px #747c7c;
    position: absolute;
    width: 230px;
    visibility: visible;

}

.start__btn:hover {
    color: red;
    cursor: pointer;
}

.time {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    padding-top: 15px;
    margin-right: 230px;
    color: #ada7a2;

}

.time h2 {
    letter-spacing: 1px;
    font-size: 1.7em;
}

.time span {
    font-size: 1.1em;
    color: white;
    letter-spacing: 2px;
}

.reward {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    padding-bottom: 15px;
    margin-left: 20px;
    text-align: left;
}

.reward h2:first-of-type {
    font-size: 30px;
    margin-bottom: 4px;
}

.reward span {
    color: #00b700;
    margin-left: 10px;
}

.message {
    background: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    top: 80px;
    right: 220px;
    display: none;
}

.won, .lost {
    top: 20px;
    right: 300px;
}

.reset {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    display: none;
}

.reset:hover {
    color: #f33030;
    cursor: pointer;
}

.gunman {
    height: 240px;
    width: 106px;
    position: absolute;
    top: 90px;
    right: -106px;
    background-image: url("../images/g3Lost.png");

    margin: 0 auto;

}

.hat {
    position: absolute;
    /*top: 245px;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    z-index: 1;

}

.gameOver {
    font-size: 72px;
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    visibility: hidden;

}


.images__container{
    display: none;
}

audio {
    display: none;
}

@keyframes goInto {
    from {
        background-position: 0;
    }
    to {
        background-position: -318px;
    }
}

@keyframes lost {
    from {
        background-position: 0;
    }
    to {
        background-position: -212px;
    }
}

@keyframes goBack {
    from {
        background-position: -318px;
    }
    to {
        background-position: 0;
    }
}

@keyframes backFlickr {
    from {
        background-image: url("../images/bg.png");
    }
    to {
        background-color: rgba(250, 0, 100, 0.5);
        background-blend-mode: multiply;
    }

}

@keyframes fire {
    from {
        background-position: 0;
    }
    to {
        background-position: -212px;
    }
}

@keyframes won {
    0% {
        top: 80px;
        background-position: 0;
    }
    10% {
        top: 70px;
    }
    20% {
        top: 60px;

    }
    30% {
        top: 70px;
    }
    40% {
        top: 80px;
    }

    50% {
        background-position: -106px;
        top: 70px;
    }

    60% {
        top: 90px;
    }

    70% {
        top: 60px;
    }
    80% {
        top: 90px;
    }

    90% {
        top: 70px;

        background-position: -106px;
    }
    100% {
        top: 90px;
        background-position: -106px;

    }
}

@keyframes wonG4 {

    0% {
        top: 40px;
    }

    20% {
        top: 60px;
    }

    30% {
        top: 40px;
    }

    100% {
        top: 90px;
    }

}

@keyframes hatG1 {
    0% {
        top: 140px;
    }

    20% {
        top: 70px;
    }

    30% {
        top: 90px;
    }

    40% {
        top: 70px;
    }

    100% {
        top: 265px;
    }

}

@keyframes hatG3 {
    0% {
        top: 60px;
    }

    50% {
        top: 10px;

    }

    100% {

        top: 0;
        right: -940px;

    }

}

@keyframes hatG4 {
    0% {
        top: 140px;
    }

    20% {
        top: 70px;
    }

    30% {
        top: 90px;
    }

    40% {
        top: 70px;
    }

    100% {
        top: 215px;
    }

}

@keyframes hatG5 {
    0% {
        top: 124px;
    }

    35% {
        top: 30px;
        right: 320px;

    }

    60% {

        right: 380px;
    }

    100% {

        top: 300px;
        right: 450px;

    }

}




